---
name: Link Checker

on:
  push: null
  repository_dispatch: null
  workflow_dispatch: null
permissions:
  contents: read
jobs:
  linkChecker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: false

      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          args: --root-dir ${{ github.workspace }} --verbose --no-progress './**/*.md' --accept 100..=103,200..=299,429
          format: markdown
          fail: true
