name: Auto-Assign PR
on:
  pull_request:
    types: [opened, reopened, synchronize]

permissions:
  pull-requests: write
  contents: read

jobs:
  assign:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: PR Auto-Assignment (from CODEOWNERS)
        uses: netcracker/qubership-workflow-hub/actions/pr-assigner@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
